<!DOCTYPE html>
<html>
    <head>
      {%load static%}
     <meta charset="UTF-8">
     <script src="{% static 'js/validaciones.js' %}"></script>
        <title>Visualizar Usuarios</title>
        <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/estilos.css' %}">
    </head>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
   
    <body>
      <nav class="navbar navbar-expand-sm barcolor"> <!--Menú de navegación-->
        <a class="navbar-brand" href="#">
          <img src="{% static 'img/logochico.png' %}" width="30" height="25" alt="">
        </a>
          <ul class="navbar-nav">

            <li class="nav-item">
              <a class="nav-link" href="{% url 'inicio' %}">INICIO</a>
              
            </li>
            
            <li class="nav-item">
              <a class="nav-link" href="{% url 'galeria' %}">GALERÍA DE FOTOS</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="{% url 'crear_user' %}">CREAR Usuario</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'mod_user' %}">MODIFICAR Usuario</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'ver_user' %}">MOSTRAR Usuario</a>
            </li>
          </ul>
        </nav>
        <br>
        <section class = "container bg-light border-top-0">

          <h1>Visualizar Usuarios</h1>
      <table class="table">
          <thead>
              <tr>
                  <th scope="col">Rut</th>
                  <th scope="col">Nombres</th>
                  <th scope="col">Apellido P</th>
                  <th scope="col">Apellido M</th>
                  <th scope="col">Teléfono</th>
                  <th scope="col">Email</th>
                  <th scope="col">Contraseña</th>
                  <th scope="col">Género</th>

              </tr>
          </thead>
          <tbody>
              {%for i in usuarios%}
                  <tr>
                      <td>{{i.rut}}</td>
                      <td>{{i.nombres}}</td>
                      <td>{{i.appaterno}}</td>
                      <td>{{i.apmaterno}}</td>
                      <td>{{i.fono}}</td>
                      <td>{{i.email}}</td>
                      <td>{{i.password}}</td>
                      <td>{{i.genero}}</td>
                      <td><a href="{% url 'eliminar_user' i.rut%}" class="btn btn-danger">Eliminar </a></td>
                      
                  </tr>
              {%endfor%}

          </tbody>
     </table>
     <a href="{% url 'crear_user' %}" class="btn btn-primary">Nuevo Usuario  </a>
     <br> 
     

    
            
         </section>
         <br>
         <br>
         <br>         
            
          
        <footer> <!--Footer-->
          <div class="container-fluid fondocolor">
            <p class="centertext">Camilo Tarkowski, Benjamín Bravo. @Copyrigth Derechos reservados.</p>
            <div align ="center"><img src="{% static 'img/rrss.png' %}" width="180px" height="100px"></div>
          </div>
        </footer>
                  
    </body>
  
</html>